@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model.ClienteDTOs)
    {
        <ul>
            <li>Nombre: @item.nombre</li>
            <li>Direccion: @item.direccion</li>
        </ul>
    }
</div>
